body{
  background-color: lightgray;
  margin: auto;
  text-align: center;
}
.p1, .p2{
    background-color: white;
    border: 2px solid blue;
    border-radius: 20px;
    height: 350px;
    width: 250px;
    padding: 10px;
    margin: 40px 40px;
  }
  .p2{
    border-color: green;
    color: black;
  }
  h2{
    color: darkorange;
    border: 1px solid red;
    border-radius: 50px;
  }
  p{
    color: skyblue;
  }
  button{
    padding: 10px;
    width: 70px;
    color: white;
    font-size: 15px;
    background-color: black;
    border: 1px solid blue;
    border-radius: 10px;
    margin-top: 80px;
  }
  input{
    min-height: 50px;
    border-color: gray;
    text-align: top;
  }
  .i{
    color: black;
  }