* {
    border: ed 1px solid;
}

body {
    background-color: rgb(179, 250, 179);
    display: flex;
    align-items: center;
    justify-content: center;
}

div {
    background-color: white;
    border: 2px blue solid;
    border-radius: 30px;
    min-width: 70%;
    margin-top: 50px;
}

p {
    color: rgb(42, 4, 255);
    font-size: x-large;
    max-width: 90%;
}

i {
    color: gray;
    margin-top: 10px;
}

h1 {
    color: darkorange;
    border: 1px solid black;
    width: max-content;
    padding: 10px;
    border-radius: 20px;
    margin-top: 20px;
}

button {
    color: white;
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    background-color: rgb(238, 7, 238);
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}

b {
    font-weight: bolder;
    font-size: xx-large;
}

@media (max-width:390px) {
    div {
        min-width: 100%;
    }

    button {
        margin-top: 10%;
        position: relative;
    }
}
