body {
    padding: 30px;
    background-color: rgb(196, 196, 207);
}

div {
    background-color: white;
    border: 2px blue solid;
    border-radius: 30px;
    max-width: 70%;
}

p {
    color: red;
    font-size: x-large;
}

i {
    color: gray;
    margin-top: 10px;
}

h1 {
    color: darkorange;
    border: 1px solid black;
    width: max-content;
    padding: 20px;
    border-radius: 20px;
    margin-top: 50px;
}

button {
    padding: 10;
    border: blue 1px solid;
    border-radius: 10px;
    background-color: rgb(238, 7, 238);
    font-weight: bolder;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
    max-width: 70%;
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 20px;
    }

    button {
        font-size: 15px;
    }
}