body {
    background-color: white;
    padding: 20px;
}

.container {
    width: 80%;
}

.sec1 {
    margin-top: 20px;
    border: 1px solid rgb(21, 129, 165);
    padding: 20px;
}

div h1,
h3 {
    color: rgb(21, 129, 165);
}

.btn {
    margin-top: 20px;
    background-color: rgb(25, 66, 177);
    border: none;
    border-radius: 3px;
    color: white;
    font-size: large;
    padding: 7px 10px;
}

.btnn {
    background-color: rgb(25, 66, 177);
    border: none;
    border-radius: 3px;
    color: white;
    font-size: medium;
    padding: 4px 7px;
}

.h1 {
    color: black;
}

#contactDetail {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec2 {
    border: 1px solid rgb(21, 129, 165);
    padding-left: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.sec2 h5 {
    padding-left: 10px;
}


@media (max-width:390px) {

    .sec1,
    .sec2 {
        width: 110%;
    }
}