* {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
.hero{
	width: 100%;
	height: 100vh;
	background: #f6fbff;
	
}
.review-box{ position: relative; top: 10px;
	width: 20%;
	height: 65px;
	border-radius: 10px;
	box-shadow: -10px 10px 40px rgba(0,0,0,0.25);
	position: relative;
	overflow: hidden;
}
.card{
	height: 600px;
	color: #777;
	line-height: 22px;
	box-sizing: border-box;
	background: #f6fbff;
	position: relative;
	border: gray solid 2px;

}
.card video{
	position: relative;
	width: 100%;
	height: 100%;
	
}
.card img{
	position: relative;
	width: 100%;
	height: 100%;}
#slide{
	width: 100%;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
transition: 0.7s;	
}
.sidebar{
	height: 50px;
	width: 100%;
	padding: 10px 0;
	box-sizing: border-box;
	background: linear-gradient(to right, #f44336, #9f4db5);
	position: absolute;
	top: 92%;
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center:
	
}
.sidebar img{ 
	height: 40px;
	width: 40px;
	background: gray;
	border-radius: 50%;
	cursor: pointer;
}
.sidebar1{ 
	height: 30px;
	width: 100%;
	padding: 10px 0;
	box-sizing: border-box;
	position: absolute;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(to right, #f44336, #9f4db5);
	
}header{ height: 90px; background: #546FE7; }
.navigation-menu{
  		  float: right;
 		  display: flex;
  		  align-items: center;
 		  min-height: 90px; }

.navigation-menu a{
  		     margin-left: 10px;
		     color: #ddd;
		     text-transform: uppercase;
		     font-size: 14px;
		     padding: 13px 14px;
		     border-radius: 4px;
		     transition: .3s linear; }

.navigation-menu a:hover{
  			  background: #273b91;
  			  color: #fff;
  			  transform: scale(1.1); }
			  .tree{ position: absolute; top: 7%; left: 7%; font-size: 35px; }
.enjoy{ position: absolute; top:93%; left: 25%; font-size: 20px;}
.rate{ position: absolute; top:93%; left: 50%; font-size: 20px;}
.become{ position: absolute; top:93%; left: 60%; font-size: 20px;}
.center{ position: absolute; top:20%; left: 13%; font-size: 55px;}
.play{ position: absolute; top:47%; left: 15%; font-size: 25px;}
.button{ background:skyblue ; color: black; border-radius: 5px;
	 padding: 8px 15px; text-align: center; font-size: 15px; }
a.btn0 {
	 position: absolute; left: 810px; background: #273b91;
  	 color: #fff; font-weight: 500; letter-spacing: 1.5px; }
a.btn1 {
	 position: absolute; left: 892px; background: #273b91;
  	 color: #fff; font-weight: 500; letter-spacing: 1.5px; }
a.btn2 {
	 position: absolute; left: 1005px; background: #273b91;
  	 color: #fff; font-weight: 500; letter-spacing: 1.5px; }
a.btn3 {
	 position: absolute; left: 1090px; background: #273b91;
  	 color: #fff; font-weight: 500; letter-spacing: 1.5px; }
a.btn4 {
	 position: absolute; left: 1200px; background: #273b91;
  	 color: #fff; font-weight: 500; letter-spacing: 1.5px; }
a.btn7 { 
	 position: absolute; top: 60%; left: 610px; background: #273b91;
  	 color: #fff; font-weight: 500; letter-spacing: 1.5px; }
a.btn0:hover{ 
		background: #fff; color: #273b91; font-weight: 500;
  		letter-spacing: 2px; }
a.btn1:hover{
		background: #fff; color: #273b91; font-weight: 500;
  		letter-spacing: 2px; }
a.btn2:hover{ 
		background: #fff; color: #273b91; font-weight: 500;
  		letter-spacing: 2px; }
a.btn3:hover{ 
		background: #fff; color: #273b91; font-weight: 500;
  		letter-spacing: 2px; }
a.btn4:hover{ 
		background: #fff; color: #273b91; font-weight: 500;
  		letter-spacing: 2px; }
a.btn7:hover{
		background: #fff; color: #273b91; font-weight: 500;
  		letter-spacing: 2px; }




