.app{   position: absolute;top: 30%;left: 28%;font-size: 30px;}
.app1{   position: absolute;top: 38%;left: 28%;font-size: 20px;}
.app2{   position: absolute;top: 68%;left: 23%;font-size: 20px;}
.img{   position: absolute;top: 30%;left: 18%;}
.button { position: absolute;top:50%;left: 25%;font-size: 25px;
	border-radius: 200px;border: #993300 5px solid;padding: 5px 18px;
}
.txt{position: absolute;top: 20%;left: 55%;font-size: 25px;}

.txt1{position: absolute;top: 25%;left: 48%;
	font-size: 20px; color:black;}
